*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --dark: #4311a6;
    --darker: #6a176a;
    --darkest: #111827;
    --grey: #8c92ac;
    --light: #eee;
    --pink: #ff00c0;
    --purple: #8b5cf6;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to left, var(--darkest), var(--darker));
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 4rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--grey);
}
#newTaskForm{
    display: flex;
}
input,
button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#newTaskInput{
    flex: 1;
    padding: 1rem;
    background: var(--darker);
    margin-right: 1rem;
    border-radius: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}
#newTaskInput::placeholder{
color: var(--grey);
}
#newTaskSubmit{
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#newTaskSubmit:hover{
    opacity: 0.8;
}
#newTaskSubmit:active{
    opacity: 0.6;
}
main{
    flex: 1 1 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.taskList{
    padding: 1rem;
}
.taskList h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}
#tasks .task{
    display: flex;
    justify-content: space-around;
    background: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
#tasks .task .content{
    flex: 1 0 0;
}
#tasks .task .content .text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}
#tasks .task .content .text:not(:read-only){
    color: var(--pink);
}
#tasks .task .actions{
    display: flex;
    margin: 0 --0.5rem;
}
.task .actions button{
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;
}
.task .actions .edit{
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
.task .actions .remove{
    color: #dc143c;
}